*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #202026;
}
h2{
    margin: 0 0 20px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #FECB00;
}
aside h2{
    border-bottom: 2px solid #202026;
}
.container-centered{
    margin: 0 auto;
    width: 1200px;
    background-color: aliceblue;
}
section{
    margin-bottom: 30px;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 20px solid #202026;
}
.header__photo img{
    margin: 20px 40px 20px 80px;
    width: 200px;
    border-radius: 100%;
}

.header__content{
    padding: 0 0 0 10%;
}
.header__content nav{
    position: absolute;
    margin-top: 80px;
}
.header__content nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #dabb40;
}

.main-content{
    display: flex;
    border-bottom: 20px solid #202026;
}
aside{
    width: 30%;
    padding: 20px 0 0 30px;
    background-color: #028E9B;
}

.contacts ul li img{
    width: 30px;
    vertical-align: middle;
    margin-right: 15px;
}
.contacts ul li{
    margin-bottom: 10px;
    list-style-type: none;
}
.contacts ul li p{
    display: inline;
    vertical-align: middle;
}

.skills ul,
.languages ul{
    padding: 0 0 0 30px;
}
.skills ul li,
.languages ul li{
    margin-bottom: 10px;
}

main{
    width: 70%;
    padding: 20px 10% 0 30px;
    font-size: 17px;
}
main p{
    margin: 10px 0 0 15px;
}
.projects div{
    display: inline-block;
    margin: 10px 20px 0 0;
}
.projects a img{
    margin: 10px 0 0 0;
    width: 300px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #028E9B;
}
footer a img{
    width: 60px;
}
footer a .rs-img{
    width: 90px;
}
